<!DOCTYPE html>
<html lang="en">
<head>
 	<meta charset="UTF-8">
 	<meta name="description" content="Free Web tutorials">
 	<meta name="keywords" content="HTML,CSS,XML,JavaScript">
 	<meta name="author" content="John Doe">
 	<meta name="viewport" content="width=device-width, initial-scale=1.0">
 	<link type="css/stylesheet" href="styles.css" />
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<title>Shopping List App</title>
</head>
<body>
	<div id="shopping-list">
		<div class="container-fluid">
			<br/>
			<div class="card">
				<div class="container-fluid p-lg-4 p-sm-2">
					<h1>{{ header.toLocaleUpperCase() }}</h1>
					<p>Party Need:</p>
					<ul>
						<li v-for="item in items">{{ item }}</li>
					</ul>
					<p>Food</p>
					<ul>
						<li v-for="snack in snacks">{{ snack }}</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/vue"></script>
	<script>
		var shoppingList = new Vue({
			el: '#shopping-list',
			data: {
				header: 'shopping list',
				items:[
					'20 hats',
					'10 poppers',
					'40 pair of spoon and fork',
					'20 paper plates',
					'40 cups'
				],
				snacks:[
					'Spagetti 1kl',
					'Coke 5l',
					'Chocolate Cake Round 11 inch',
					'Pork Meat spring roll 40',
					'Rice 8kl',
					'Pork Meat Porck Chop cut 2.5kl',
					'Cooking Oil 1 li',
				]
			}
		});
	</script>
</body>
</html>