body{
	background-color: #fff;
    background-image: url('bg.jpg');
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;

}